In [1]:
import pandas as pd
import numpy as np
import json
import os

In [2]:
filename = '../Data/BoardGameAtlas/Processed/API/bga_all_games_ids_names_numRatings.json'
df = pd.read_json(path_or_buf = filename, orient='records')

In [3]:
df.sor

                id                            name  num_user_ratings
0       TAAifFP590                            Root               264
1       yqR4PtpO8X                          Scythe               558
2       RLlDWHh7hR                      Gloomhaven               337
3       5H5JS0KLzK                        Wingspan               359
4       fDn9rQjH9O               Terraforming Mars               490
...            ...                             ...               ...
119995  MsO7BrjZCQ                        Gizoomie                 0
119996  ePS9YVT3JG                         NinjaGO                 0
119997  FgSEFAH1sg                         Cascade                 0
119998  fWiqsKKb6w  Gormiti: The Trading Card Game                 0
119999  3xzegUncJD  Het Grote Puzzel & Crypto Spel                 0

[120000 rows x 3 columns]

In [4]:
df['num_user_ratings'].value_counts()[:200]

0      99510
1       8971
2       3273
3       1716
4       1011
       ...
642        1
123        1
131        1
248        1
390        1
Name: num_user_ratings, Length: 200, dtype: int64

In [5]:
ranges = [-0.01,0,5,10,20,30,50,100,150,200,250,1000]
count = df['num_user_ratings'].groupby(pd.cut(df.num_user_ratings, ranges)).count()
count

num_user_ratings
(-0.01, 0.0]       99510
(0.0, 5.0]         15737
(5.0, 10.0]         1907
(10.0, 20.0]        1221
(20.0, 30.0]         527
(30.0, 50.0]         435
(50.0, 100.0]        362
(100.0, 150.0]       118
(150.0, 200.0]        80
(200.0, 250.0]        42
(250.0, 1000.0]       61
Name: num_user_ratings, dtype: int64

In [6]:
len(df[df.num_user_ratings>=10])

3085

In [7]:
df[df.num_user_ratings>=10].reset_index(drop=True).sort_values(by=['num_user_ratings'], ascending=False)

              id                             name  num_user_ratings
8     6FmFeux5xH                         Pandemic               715
9     GP7Y2xOUzj                        Codenames               651
13    oGVgRSAKwX                      Carcassonne               649
23    OIXt3DmJU0                            Catan               642
10    OF145SrX44                        7 Wonders               626
...          ...                              ...               ...
1794  BHpKPF4VL0                      V-Commandos                10
2365  EWcYPu9fOI                        Castaways                10
2867  4wagYzpzmC  Aye, Dark Overlord! The Red Box                10
2636  suoHs83DBp         Shadow Hunters Expansion                10
1584  zZ5lEvocnH       The Fox in the Forest Duet                10

[3085 rows x 3 columns]

In [8]:
#games that have >= reviews/ratings per game:
reviews_10 = df[df.num_user_ratings>=10]

In [9]:
reviews_5 = df[df.num_user_ratings>=5]

In [10]:
reviews_3 = df[df.num_user_ratings>=3]

In [11]:
reviews_all = df

In [12]:
reviews_10 = reviews_10['num_user_ratings']

In [13]:
reviews_5 = reviews_5['num_user_ratings']

In [14]:
reviews_3 = reviews_3['num_user_ratings']

In [15]:
reviews_all = reviews_all['num_user_ratings']

In [16]:
# total reviews included:
# >= 10 reviews per game:
len(reviews_10)

3085

In [17]:
# >= 5 reviews per game:
len(reviews_5)

5519

In [18]:
# Total user ratings for >= 10 games (3085 games): 
reviews_10.sum()

137012

In [19]:
# Total user ratings for >= 5 games (5519 games): 
reviews_5.sum()

152853

In [20]:
reviews_10.sum()/reviews_all.sum()

0.7716290647773736

In [21]:
reviews_5.sum()/reviews_all.sum()

0.8608429731586713

In [29]:
reviews_3.sum()/reviews_all.sum()

0.912610806366227

In [22]:
# difference including >=5 ratings compared to including >=10 ratings:
# more reviews included (absolute):
(reviews_5.sum()-reviews_10.sum())

15841

In [23]:
# more reviews included (relative):
(reviews_5.sum()-reviews_10.sum())/reviews_all.sum()

0.0892139083812978

In [24]:
# more games included (absolute):
len(reviews_5)-len(reviews_10)

2434

In [25]:
reviews_3.sum() - reviews_5.sum()

9192

In [26]:
len(reviews_3)-len(reviews_5)

2727

In [27]:
reviews_3.sum()

162045

In [28]:
len(reviews_3)

8246